table {
  width: 100%;
}
  
  button{
    margin-left: 10px;
    height: 35px;
    width: 80px;
  }
  
.fondo{
  color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(17, 17, 17, 0.70);
}
mat-label{
  color: aliceblue;
}
input {
  color: aliceblue;
}
::ng-deep input.mat-input-element {
  color: #ffffff;
}
::ng-deep .mat-form-field-underline {
  background-color: #f3f3f3 !important;
}
.example-button-row button,
.example-button-row a {
  color: rgb(248, 248, 248);
  margin-right: 8px;
}

button{
  color: #efefef;
  margin-bottom:10px ;
  margin-left: 30px;
}
.disp{
  display: inline-block;
  margin-right: 20px;
}
.espa{
width: 90px;
margin-top: 15px;
}
.sep{
  margin-top: -30px;
  margin-left: 70px;
}
.ad{
margin-left: 0px;
}

.norl{
  display : none;
 }

@media screen and (max-width: 990px) {
  .norl{
   margin-left: 10%;
   display :block;
   color: rgb(190, 18, 18);
  }
  .fondo{
    display:none;
  }
}
